@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.query-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

a {
    font-weight: 300;
    color: white;
}

a:active {
    color: tomato;
}

:root {
    box-sizing: border-box;
    font-family: "Roboto";
    color: white;
    --search-padding: 0.3rem;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.main-section {
    padding: 10% 15%;
    flex: 1 0 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    grid-auto-flow: column;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.loading__image {
    filter: invert(1);
    width: 6rem;
    height: 6rem;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slidein {
    from { transform: translateX(5rem); }
    to { transform: translateX(0); }
}

.info-container {
    transform: translateX(0);
    transition: transform 2s;
}

.info-container--disabled {
    transition: transform 0s;
    transform: translateX(20rem);
    display: none;
}

.info__feels-units, .info__units {
    cursor: pointer;
    border-radius: 0.3em;
    padding: 0.1em;
}

.info__feels-units:hover, .info__units:hover {
    background: rgba(0.2, 0.2, 0.2, 0.3)
}

.feels-block {
    position: relative;
    z-index: 2;
    margin-bottom: 3px;
}

.info__feels-like, .info__feels-units {
    font-size: 1.25rem;
}

.info__location {
    font-weight: 100;
    font-size: 2.5rem;
}

.temperature-block {
    display: flex
}

.info__temperature {
    font-size: 6rem;
    font-weight: 500;
}

.info__units {
    font-size: 2.5rem;
    align-self: flex-start;
}

.img-credit {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.city-form {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.8;
}

.city-form__text {
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 100rem;
    font-size: 1rem;
    padding: var(--search-padding) 2.2rem var(--search-padding) calc(2 * var(--search-padding));
}

.city-form__text:active, .city-form__text:focus {
    outline: none;
}

.city-form__button {
    cursor: pointer;
    --search-button-margin: 0.2rem;
    transform: scaleX(-1);
    background: url("../images/search.svg");
    background-size: 100% auto;
    border: none;
    position: absolute;
    right: 0.5rem;
    top: var(--search-button-margin);
    height: calc(100% - 2 * var(--search-button-margin));
    aspect-ratio: 1 / 1;
    filter: invert(1);
}

.secondary-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error__remover {
    position: absolute;
    min-width: 10px;
    inset: 0;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 10px;
    inset: 0;
    z-index: 5;
}

.error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    border: 1px solid white;
    background: #16161655;
    border-radius: 10px;
    padding: 30px 80px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.error-container--disabled {
    display: none;
}

.error__close {
    background: tomato;
    border: none;
    border-radius: 10px;
    outline: none;
    width: auto;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.secondary-info__weather {
    font-size: 2rem;
    font-weight: 100;
    white-space: nowrap;
}

@media (max-width: 760px) {
    .main-section {
        grid-template-columns: 100%;
    }
    .secondary-info:nth-child(2) {
        display: none;
    }
}